//-------------------------
// NAME: Startup Genome Startup List
// TYPE: Widget
// OUTPUT: List of startups from startupgenome database
// FORMAT: widget-content table listing
//-------------------------
.container
	.row
		.span8
			.widget
				.widget-head
					i.icon-ellipsis-horizontal
				.widget-body
					
		
		
	
pre
	{{ sexpr(rp) }}