.addthisbox {
	display: table-row;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.sharebtn {
	display: table-cell;
	font-size: 30px;
	min-width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	text-align: center;
	vertical-align: bottom;
}

/* the shares # eg: "> 1,234" */
.sharesbtn {
	font-size: 18px;
	padding-left: 0.3em;
	padding-bottom: 0.2em;
	vertical-align: bottom;
	display: table-cell;
}

.addthisbox .sharebtn, .addthisbox [class^="icon-"], .addthisbox [class*=" icon-"] {
	text-decoration: none;
	color: #555;
	opacity: 0.8;
	filter: alpha(opacity = 80); /* for IE */
	outline: none;
}

.sharebtn:hover {
	vertical-align: top;
	color: #F68A37;
	opacity: 1.0;
	filter: alpha(opacity = 80); /* for IE */
}