/* Style Guide
	body color:   #eee E5E5E5
	border color: #ccc C5C5C5
	
	orange: #FF871E
	blue: 	#0078E1
*/

/* GENERAL
----------------------------------------------- */
/* Prevent any object from being highlighted upon touch event */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
/* Prevent link focus outline, eg: little dotted line */
a:focus { outline: 0; }
html, body {
	height: 100%;
	width: 100%;
}
a {
	color: #444;
	font-weight: bold;
}
a:hover {
	color: #fff;
	background: #444;
	font-weight: bold;
}
/* This class makes the element text unselectable - ie: in text-buttons */
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* This class makes the element behave like a button with :hover and :active styling
*/
.borderboxbutton {
	border:1px solid #DDD;
	box-shadow:0px 0px 1px #444;
	background-color:rgb(255,255,255);
	background-color:rgba(255,255,255,1);
	border-radius:2px;	
}
.borderboxbutton:hover {
	border:1px outset #CCC;
	box-shadow:1px 1px 1px #444;
	background-color:rgb(220,220,220);
	background-color:rgba(220,220,220,0.8);
}
.borderboxbutton:active {
	border:1px inset #BBB;
	box-shadow:1px 1px 1px #444;
	background-color:rgb(180,180,180);
	background-color:rgba(180,180,180,0.6);
}

/* HEADER
----------------------------------------------- */
.header {
	background: #F3F3F3;
	border-bottom: 1px solid #ccc;
	height: 50px;
	line-height: 50px;
}

.navbar-inner {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,	#fff 0%,	#ddd 100%);
	background:    -moz-linear-gradient(top,	#fff 0%,	#ddd 100%);
	background:     -ms-linear-gradient(top,	#fff 0%,	#ddd 100%);
	background:      -o-linear-gradient(top,	#fff 0%,	#ddd 100%);
	background:         linear-gradient(to bottom,	#fff 0%,	#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#ddd',GradientType=0 );
}

/* Logo */
.logo {
	background: url('../img/logo_tg_bglight_trans_orange.png') 0 0 no-repeat;
	background-size: 240px auto;
	display: block;
	position: static;
	float: left;
	height: 50px;
	width: 240px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
}

/* Main Menu */
.main-menu {
	float: left;
}
.main-menu ul {
	margin: 0;
	padding: 0;
}
.main-menu li {
	display: inline-block;
	border-right: 1px dotted #bbb;
	padding: 0px;
	margin: 0px;
}
.main-menu a {
	display: inline-block;
	height: 4em;
	line-height: 4em;
	padding-right: 1em;
	padding-left: 1em;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
}
.main-menu li:hover, .main-menu li.active:hover {
	background: #444;
}
.main-menu li:hover a, .main-menu li.active:hover a {
	color: #fff;
}
.main-menu li.active {
	background: #bbb;
	border-bottom: 2px solid #FF871E;
	font-weight: bold;
}
.main-menu i {
	font-size: 18px;
	margin-right: 5px;
}

/* Sub-Menu */
.caret {
	margin-top: 2px !important; /* figure out how to do this without implicit overriding */
}

.dropdown-menu {
	padding: 0px;
	margin: 0px;
}
.dropdown-menu [class^="icon-"],
.dropdown-menu [class*=" icon-"] {
	margin-right: 5px;
}
.dropdown-menu li.sub-menu {
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.dropdown-menu li.sub-menu a {
	color: #444;
	background: #fff;
	font-weight: bold;
	width: 80%;
	height: 3em;
	line-height: 3em;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	padding-right: 1em;
	padding-left: 1em;
	cursor: pointer;
}
.dropdown-menu li.sub-menu:hover a {
	color: #fff;
	background: #444;
}
/* Create Dropdown-On-Hover */
.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown:after .dropdown-menu {
	display: none;
}

/* User Setting */
.user-setting {
	float: right;
}
.user-setting a {
	height: 2em;
	line-height: 2em;
	margin: 0px;
	padding: 0px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	text-decoration: none;
	cursor: pointer;
}
.user-setting li.sub-menu {
	width: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	position: static;
}
.user-setting li.sub-menu a {
	color: #444;
	background: #fff;
	font-weight: bold;
	width: 80%;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	padding-right: 1em;
	padding-left: 1em;
	cursor: pointer;
}
.user-setting li.sub-menu:hover, .user-setting li.sub-menu:hover a {
	color: #fff;
	background: #444;
}
.user-setting li.divider {
	height: 1px;
	line-height: 1px;
	font-size: 0px;
	padding: 0px;
	margin: 0px;
	border: none;
}
.user-setting i {
	font-size: 18px;
	margin-right: 5px;
}

/* MAIN
----------------------------------------------- */
.main {
	clear: both;
	width: auto;
	height: auto;
	padding: 0px;
	margin: 0px;
	padding-bottom: 50px; /* for the footer */
}

/* Widget */
.widget {
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 20px 0;
}
.widget-head {
	background: #ccc;
	border-bottom: 1px solid #ccc;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	height: 15px;
	line-height: 15px;
	padding-left: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:    -moz-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:     -ms-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:      -o-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:         linear-gradient(to bottom,	#ffffff 0%,	#ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccc',GradientType=0 );
}
.widget-head i {
	font-size: 18px;
	color: #C5C3C3;
	text-shadow: 1px 1px rgb(0, 0, 0);
	cursor: move;
}
.widget-body {
	padding: 10px;
}
.nav-tabs li>a {
	cursor: pointer;
	font-weight: bold;
	color: #000;
}
.nav-tabs li>a:hover {
	background: #bbb;
	color: #000;
}

/* Social Sharing */
.social-sharing ul {
	margin: 0;
	padding: 0;
}
.social-sharing ul li {
	display: inline-block;
	margin-right: 5px;
}
.social-sharing i {
	margin-right: 5px;
}
.social-sharing [class*=" icon-"],
.social-sharing [class^="icon-"] {
	height:20px;
	width:20px;
	font-size:20px;
}

/* Footer
----------------------------------------------- */
.footer {
	background: #F3F3F3;
	border-top: 1px solid #ccc;
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 50px;
	line-height: 50px;
	width: 100%;
    position: fixed;
	bottom: 0px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:    -moz-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:     -ms-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:      -o-linear-gradient(top,	#ffffff 0%,	#ccc 100%);
	background:         linear-gradient(to bottom,	#ffffff 0%,	#ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ccc',GradientType=0 );
}

.footer p {
	margin: 0;
	padding: 0;
}

/* Social iCon */
.social ul {
	margin: 0;
	padding: 0;
}
.social li {
	display:inline-block;
	text-align:right;
	vertical-align:middle;
	font-weight:bold;
}
.social a {
	outline:none;
	height:30px;
	width:30px;
	font-size:30px;
}
.social a:hover {
	background:none;
	text-decoration:none;
}
.facebook, .google-plus, .twitter, .instagram {
	display:inline-block;
	text-align:center;
}
.facebook:hover, .google-plus:hover, .twitter:hover, .instagram:hover {
	color:#444;
}
.facebook {
	color:#315D99;
}
.google-plus {
	color:#C12D21;
}
.twitter {
	color:#00ACDE;
}
.instagram {
	color:#865;
}
/*.facebook:hover {
	color:#16D;
}.google-plus:hover {
	color:#E32;
}.twitter:hover {
	color:#08E;
}.instagram:hover {
	color:#A76;
}*/

/* Styling for responsive layout
----------------------------------------------- */

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	.main-menu {
		clear:both;
	}
	.main-menu ul {
		margin: 0px;
		padding: 0px;
	}
	.main-menu li {
		display: block;
		height: 50px;
		border-right: 1px dotted #DCDCDC;
		line-height: 50px;
		padding: 0px;
		vertical-align: middle;
	}
}