

/* General
----------------------------------------------- */
/* Prevent any object from being highlighted upon touch event */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

/* Top
----------------------------------------------- */
.header {
	background: white;
	height: 40px;
	line-height: 40px;
	margin-bottom: 30px;
}
.logo {
	background: url('../img/logo.svg') no-repeat left top;
	display: block;
	height: 40px;
	width: 132px;
}

.wrapper {
	background: white;
}

/* Middle
----------------------------------------------- */
/*
	Main Navigation
	Thanks to Eduard Mayer
	http://vsxed.github.io/play-store-menu
*/
.menu-container {
	height: auto;
}

 /* Main Navigation - top level */
.play-menu {
	margin: 0;
	padding: 0;
	height: 200px;
	position: relative;
}
.play-menu li {
	background: white;
	cursor: pointer;
	height: 50px;
	list-style-type: none;
	position: absolute;
	width: 100%;

	-webkit-transition: top 500ms, background 500ms, opacity 500ms;
	   -moz-transition: top 500ms, background 500ms, opacity 500ms;
	    -ms-transition: top 500ms, background 500ms, opacity 500ms;
	     -o-transition: top 500ms, background 500ms, opacity 500ms;
	        transition: top 500ms, background 500ms, opacity 500ms;
}
.play-menu li a {
	display: block;
}
.play-menu li a:hover {
	text-decoration: none;
}
.play-menu li .menu-entry-icon {
	display: inline-block;
	margin: 0 10px;
}
.play-menu li .menu-entry-text {
	color: #4D4D4D;
	display: inline-block;
	height: 50px;
	line-height: 50px;
}
.play-menu li.active {
	-webkit-box-shadow: inset 2px 0 0 #427FED;
	   -moz-box-shadow: inset 2px 0 0 #427FED;
	        box-shadow: inset 2px 0 0 #427FED;
}

/* Main Navigation - sub level */
.sub-menu {
	left: 12px;
	list-style-type: none;
	opacity: 0;
	padding: 0;
	width: 100%;
}
.sub-menu.index {
	z-index: -1 !important;
}
.sub-menu.active li {
	left: -25px;
	opacity: 1;
	top: 0px;
	
	-webkit-transition: top 500ms 500ms, opacity 500ms 500ms;
	   -moz-transition: top 500ms 500ms, opacity 500ms 500ms;
	    -ms-transition: top 500ms 500ms, opacity 500ms 500ms;
	     -o-transition: top 500ms 500ms, opacity 500ms 500ms;
	        transition: top 500ms 500ms, opacity 500ms 500ms;
}
.sub-menu li {
	cursor: pointer;
	height: 50px;
	line-height: 50px;
	opacity: 0;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sub-menu li a {
	border: 0;
	color: #4D4D4D;
	display: block;
	margin-left: 40px;
}
.main-link.current a {
	color: #4D90FE;
}
.hide {
	left: -200px;
	opacity: 0;
}
.hide a .menu-entry-text {
	background: white;
}

/* Article */
.article {
	border-bottom: 1px solid #F5F5F5;
}

.article p a {
	color: #4D4D4D;
}
/* Meta */
.meta ul {
	color: #B1B1B1;
	font-size: 12px;
	margin-left: 0;
}
.meta li {
	display: inline-block;
}

/* footer
----------------------------------------------- */
.footer {
	margin: 0 0 20px 0;
	background: white;
}
.footer .wrapper {
	padding: 2%;
}

/* Footer Navigation */
.footer-navigation ul {
	font-weight: bold;
	margin-left: 0;
}
.footer-navigation ul li {
	display: inline-block;
	margin: 0 -2px;
	vertical-align: top;
	width: 20%;
}
.footer-navigation ul li a {
	color: #4c4c4c;
	font-size: 12px;
}
.footer-navigation ul li ul {
	font-weight: normal;
	margin-top: 11px;
	margin-left: 0;
}
.footer-navigation ul li ul li {
	display: block;
	width: 100%;
}

/* Social iCon */
li.social {
	width: 20%;
}
li.social ul li a {
	display: block;
	float: left;
	margin: 0 4%;
}
.facebook, .google-plus, .twitter {
	background: url('../img/social-icon.svg') no-repeat;
	display: block;
	height: 35px;
	width: 35px;
}
.facebook {
	background-position: -6px -45px;
}
.google-plus {
	background-position: -46px -45px;
}
.twitter {
	background-position: -87px -45px;
}

/* Styling for responsive layout
----------------------------------------------- */

/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 2%;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.header {
		padding: 0 2%;
	}
	.wrapper {
		padding: 2%;
	}
	
	/* Footer Navigation */
	.footer-navigation ul li {
		border-bottom: 1px solid #F5F5F5;
		display: block;
		padding: 2% 0;
		text-align: center;
		width: 100%;
	}
	.footer-navigation ul li:last-child {
		border-bottom: 0;
	}
	.footer-navigation ul li ul li {
		border-bottom: 0;
		display: inline-block;
		width: 30%;
	}

	/* Social iCon */
	li.social {
		width: 100%;
	}
	li.social ul {
		margin-top: 0 !important;
		text-align: center;
	}

	li.social ul li {
		padding: 4%;
		width: 35px !important;
	}

	.copyright {
		text-align: center;
	}
}
