/* Font Face Import
---------------------------------------------------- */
@import url("../font/aleo/stylesheet.css");
@import url("../font/open-sans/regular/stylesheet.css");

/* General Style
---------------------------------------------------- */
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	background: #252525;
	color: #989898;
	font-family: "open_sans_regular";
	height: 100%;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: white;
	font-family: "aleo_light";
}
a:link, a:hover, a:active, a:visited {
	color: #989898;
	text-decoration: none;
}

.hide {
	display: none;
}
.show {
	display: block;
}

.glyphicon {
	color: white;
}

/* Top
---------------------------------------------------- */
/* Top */
.top {
	border-bottom: 1px solid #333333;
	line-height: 50px;
	min-height: 50px;
}

/* Logo */
.logo {
	background: url('../img/logo.svg') no-repeat -10px 0;
	display: block;
	height: 42px;
	width: 130px;
}


/* Middle
---------------------------------------------------- */
/* Main Navigation */
/*.main-navigation {
	overflown: hidden;
}
.main-navigation ul {
	padding-left: 0;
}
.main-navigation li {
	border-left: 1px solid #333333;
	border-bottom: 1px solid #333333;
	display: block;
	height: 50px;
	line-height: 50px;
	width: 100%;
}
.main-navigation span {
	margin-right: 10px;
}

.main-navigation li.active {
	-webkit-box-shadow: inset 2px 0 0 #acd373;
	   -moz-box-shadow: inset 2px 0 0 #acd373;
	        box-shadow: inset 2px 0 0 #acd373;
}
.main-navigation li a {
	display: block;
	margin-left: 20px;
}
.main-navigation li.active a {
	color: #acd373;
}

.back {
	border-bottom: 1px solid #333333;
	height: 50px;
	line-height: 50px;
}
.back a {
	color: #4D4D4D;
	display: block;
}

ul.top-level {
	position: absolute;
	display: block;
}

.sub-level {
	padding-left: 0;
}
.sub-level li a {
	color: #989898 !important;
	font-size: 13px;
	margin-left: 10px;
}

.sub-level li.active {
	-webkit-box-shadow: inset -2px 0 0 #acd373;
	   -moz-box-shadow: inset -2px 0 0 #acd373;
	        box-shadow: inset -2px 0 0 #acd373;
}*/

/* Sub Navigation */
.sub-navigation {
	border-bottom: 1px solid #333333;
	height: 46px;
	line-height: 46px;
}
.sub-navigation ul {
	padding-left: 0;
}
.sub-navigation li {
	display: inline-block;
	padding: 0 10px;
	text-align: center;
	min-width: 60px;
}
.sub-navigation li.active {
	-webkit-box-shadow: inset 0 -2px 0 #acd373;
	   -moz-box-shadow: inset 0 -2px 0 #acd373;
	        box-shadow: inset 0 -2px 0 #acd373;
}
.sub-navigation a {
	text-decoration: none;
}
.sub-navigation .active a {
	color: #acd373;
	cursor: default;
	display: block;
}

/* Article */
.article {
	border-bottom: 1px solid #333333;
	margin: 0 0 22px 0;
	padding: 0 0 22px 0;
}
.article a {
	color: white;
}
.article p a {
	color: #989898;
}

/* Meta */
.meta ul {
	color: #4d4d4d;
	font-size: 12px;
	padding-left: 0;
}
.meta li {
	display: inline-block;
	list-style: square;
}

/* Pagination */
.pagination ul {
	padding-left: 0;
}
.pagination li {
	display: inline-block;
	padding: 0 10px;
}
.pagination a {
	color: #4d4d4d;
}
.pagination a:hover {
	color: #989898;
	text-decoration: none;
}
.pagination .active a {
	color: #acd373;
	cursor: default;
}

/* Bottom
---------------------------------------------------- */
.bottom {
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
	height: 150px;
	padding-top: 22px; 
}
.copyright {
	color: white;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
}

/* Footer Navigation */
.footer-navigation ul {
	color: white;
}
.footer-navigation li {
	display: inline-block;
	margin: 0 -2px;
	vertical-align: top;
	width: 20%;
}
.footer-navigation li a {
	font-size: 12px;
	color: #4c4c4c;
}
.footer-navigation ul li ul {
	margin-top: 11px;
	padding-left: 0;
}
.footer-navigation ul li ul li {
	display: block;
	width: 100%;
}

/* Social iCon */
li.social {
	width: 20%;
}
li.social ul li a {
	float: left;
	display: block;
	margin: 0 10px;
}
.facebook, .google-plus, .twitter {
	background: url('../img/social-icon.svg') no-repeat;
	display: block;
	height: 35px;
	width: 35px;
	
}
.facebook {
	background-position: -6px -6px;
}
.google-plus {
	background-position: -46px -6px;
}
.twitter {
	background-position: -87px -6px;
}

/*
	Thanks to Eduard Mayer
	http://vsxed.github.io/play-store-menu
*/

.menu-container {
	/*background-color: #ebebeb;*/
	height: 450px;
	overflow: hidden;
}
.show-entries-hover {
	background: white;
	height: 276px;
	position: absolute;
	top: 0;
	width: 24px;
	z-index: 3;
}
.show-entries-hover.hidden {
	display: none;
}
.show-entries-hover .hover-arrow {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAbklEQVRIx2P4//8/Ay0xw6gFg98CbKCjo8MAiA8AcQHVLYAa/gGI/4MsoaoFaIaDaAOqWYBmOAgHgMSpYgEWwxNgFlNsAT7DqWXBBVyGDxkLaBtENI9kPMk0gaoW0Dyj0aWowFLYNYzWB6MWMAAAq1H3+AVacVQAAAAASUVORK5CYII=");
	background-repeat: no-repeat;
	display: block;
	height: 24px;
	position: relative;
	top: 50%;
	width: 24px;
}
.play-menu {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 200px;
	z-index: 4;
}
.play-menu li {
	cursor: pointer;
	height: 46px;
	position: absolute;

	-webkit-transition: top 500ms, left 500ms, background 0s, opacity 500ms;
	   -moz-transition: top 500ms, left 500ms, background 0s, opacity 500ms;
	    -ms-transition: top 500ms, left 500ms, background 0s, opacity 500ms;
	     -o-transition: top 500ms, left 500ms, background 0s, opacity 500ms;
	        transition: top 500ms, left 500ms, background 0s, opacity 500ms;
}
.play-menu li a {
	text-decoration: none !important;
}
.play-menu li .menu-entry-icon {
	height: 46px;
	line-height: 46px;
	margin-top: -1px;
	text-align: center;
	/*display: inline-block;*/
	/*padding: 10px;*/
}
.play-menu li .menu-entry-text {
	/*background-color: #ebebeb;*/
	border-bottom: 1px solid #333333;
	color: #555;
	/*font-weight: 300;*/
	display: block;
	/*font-size: 18px;*/
	line-height: 20px;
	margin-left: 46px;
	padding: 13px 10px;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 154px;
}
.play-menu li:hover * + .menu-entry-text {
	color: white;
}
.play-menu li:hover .home + .menu-entry-text {
	background: #444444;
}
.play-menu li:hover .regions + .menu-entry-text {
	background: #b3c833;
}
.play-menu li:hover .calendar + .menu-entry-text {
	background: #ce5043;
}
.play-menu li:hover .events + .menu-entry-text {
	background: #fb8521;
}
.play-menu li:hover .resources + .menu-entry-text {
	background: #1aa1e1;
}
.play-menu li:hover .media + .menu-entry-text {
	background: #658092;
}

.play-menu li:hover .partners + .menu-entry-text {
	background: #b3c833;
}

.play-menu li#regions .highlight {
	color: #879727;
}
.play-menu li#calendar .highlight {
	color: #a8372c;
}
.play-menu li#events .highlight {
	color: #db6704;
}
.play-menu li#resources .highlight {
	color: #147aaa;
}
.play-menu li#devices .highlight {
	color: #4c606e;
}

.play-menu li#partners .highlight {
	color: #879727;
}

.play-menu li .menu-entry-icon {
	/*background-position: center;
	background-repeat: no-repeat;*/
	height: 46px;
	width: 46px;
}
.play-menu li .menu-entry-icon.home {
	background-color: #444444;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAA0UlEQVRIx+XWUQ2DMBCA4UpAAhIqAQmTgIRJqIRKqAQkIAEJSKiDfy+3rFm6wpWyJeySvnC0H1euBAOYbwzzE6gUQAcEIPKKCbCFOToIsAkQAAd4uRaBWytokQVtpspnrj8EAaNUMn7I95L3R6EJWDfeX/YeLTQD0wbkyCxQam9P+3A5yF0OuhcmRGBtBQ2FCXPS7lEBDVVQclDdTrAeejusoQbqNFAClh7QZg+ssqI9W2gOQdIUe7qwDpJtWhRdp4aifPe0oYZq4x+g6/1unTkek/bCyLhDiUMAAAAASUVORK5CYII=");*/

}
.play-menu li .menu-entry-icon.regions {
	background-color: #b3c833;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAArUlEQVRIx+2VjQmAIBBGHcERGsFRGsERGsERGsFRHMERGqENLiMDO866oz+IHnyQ4vmOA0kBgHoi6hVRSVq3c5QAXMMVBVgwTInJ54NUZHHhgWhtzIpEqNil+JQIW2Led3k9oHq2yIMMJxKlb010z2Fkj+6EpKTjiHpcxBihz+dK7N6DbYhLDHEJEM0YYoy6JurhWrqaKF4sijXRHbwreuw38b3R/aJf9OEHe1smWkR6nqQuDSUAAAAASUVORK5CYII=");*/
}
.play-menu li .menu-entry-icon.calendar {
	background-color: #ce5043;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAANklEQVRIx2P4//8/Az0ww6hF1LCIVmCALWKAArJNxdQ/GnSjQTcadKNBNxp0wyLoRtsMI9wiAFADCXZf9dlZAAAAAElFTkSuQmCC");*/
}
.play-menu li .menu-entry-icon.events {
	background-color: #fb8521;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABWklEQVRIx82W0Y2DMAxAGSEjZARGYARGYAQ2aDYoG7QbXDcoG8AGxwZlg3cf50i+NA2BRtVZCh/E8Usc23EFVJ8Yv58MAZpwJHT3gYAOuJGWEegOgYAWWNgnC9Bmg4AhYmQCzsBJjbP8D2XYBEUgF8Bu3J0VPS3XlyBxl5dH6rITwfJQNtonEGCAVUHq6oDI6b7Fzip2/4D6dyEKVquT9SFo9hNVAVEbn0PQCbhUhURsTmL3KRjGxO5cGH1yHy7mBTG+vAoGACOKRgx1OiEDY6uaawSq1xMLBqd8atRCp5MjAGnxuo2sn8Pk9SCdqKuKmDETNKgAWGNVwoNskGzeHbmgUfQJkt7GgqEvDOpTte6rEOi+VVRdIZD7NyBTCGRyHr6rKHc7QDf1zFxzX1gjdcqF/UJGwk6x06R6BquqQw6oFw/Yo11QrUM2mLurOftWu6VOVyc2YnP6uh+8uEodULzJQAAAAABJRU5ErkJggg==");*/
}
.play-menu li .menu-entry-icon.resources {
	background-color: #1aa1e1;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAA9klEQVRIx+3VYQ2DMBCGYSQgYRJwMCQgAQk4ACcgAQfgAAnMAXPw7sc+kqOjwBjjF5c0hGt7D21ILgCCM4abSIAaaPUsgFuwEsBNa+3e2AcVQASEQM40aiD2AJVZNwC55mKhH9AYlbAI6BywMEgKPM1cIzh0cC+ECqQq6J6u0BXbGE+ROfgqNEarr4z1xY3yD/MeaU3rqbEJGk+X4f+j5k6xC7IbtuQu6IIu6IJ2QAnvfnIUNKjmFDKNrDsA6lBnnoU0EQLlD1AJhKbePOR00OELaEDN0qmzDGmRbedLUAdEnhrrkHOVAdAbpFfubq9qFfr3OA16AcSstrz4r0qKAAAAAElFTkSuQmCC");*/
}
.play-menu li .menu-entry-icon.media {
	background-color: #658092;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAa0lEQVRIx2P4//8/Az0wusCC/5SDBAYowGcRVQDRFjGQCciyiBxfjFo0ci0C5TkBAqmQKhYZEKHmA8UWwdQQka9GLRq1aNSiUYtItYjYqpsii4gAB3BZhFyi47PoApEWgUplBShNVulNMwwA8TkerCj0FuMAAAAASUVORK5CYII=");*/
}

.play-menu li .menu-entry-icon.partners {
	background-color: #b3c833;
	/*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAArUlEQVRIx+2VjQmAIBBGHcERGsFRGsERGsERGsFRHMERGqENLiMDO866oz+IHnyQ4vmOA0kBgHoi6hVRSVq3c5QAXMMVBVgwTInJ54NUZHHhgWhtzIpEqNil+JQIW2Led3k9oHq2yIMMJxKlb010z2Fkj+6EpKTjiHpcxBihz+dK7N6DbYhLDHEJEM0YYoy6JurhWrqaKF4sijXRHbwreuw38b3R/aJf9OEHe1smWkR6nqQuDSUAAAAASUVORK5CYII=");*/
}
.sub-menu {
	left: 24px;
	list-style-type: none;
	opacity: 0;
	padding: 0;
	position: absolute;
	top: 52px;
}
.sub-menu.index {
	z-index: -1 !important;
}
.sub-menu.active li {
	opacity: 1;
	top: 0px;
	left: -40px;
	
-webkit-transition: top 500ms 550ms, opacity 500ms 550ms;
   -moz-transition: top 500ms 550ms, opacity 500ms 550ms;
    -ms-transition: top 500ms 550ms, opacity 500ms 550ms;
     -o-transition: top 500ms 550ms, opacity 500ms 550ms;
        transition: top 500ms 550ms, opacity 500ms 550ms;
}
.sub-menu li {
	color: #555;
	cursor: pointer;
	height: auto;
	opacity: 0;
	position: relative;
	top: -7px;
	width: 176px;
}
.sub-menu li.main-link:hover,
.sub-menu li.secondary-link:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.sub-menu li.main-link {
	/*font-size: 18px;*/
	line-height: 20px;
	padding: 8px 12px 8px 23px;
}
.sub-menu li.main-link.highlight {
	font-weight: 400;
}
.sub-menu li.sub-menu-divider {
	background: #333333;
	cursor: default;
	height: 1px;
	margin: 14px;
	width: 148px;
}
.sub-menu li.secondary-link {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	padding: 6px 12px 6px 23px;
}
.hide {
	left: -200px;
	opacity: 0;
}
.hide a .menu-entry-text {
	background: white;
}












