
/*------------------------------------------------------------------

[Responsive Stylesheet]

	Project:		Base Admin Responsive
	Version:		1.0
	Last change:	05/21/2012
	Assigned to:	Rod Howard (rh)


[Table of contents]

	1. Max Width: 767px
	2. Max Width: 1200px
	3. Max Width: 979px

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Max Width: 480px]
*/

@media (max-width: 480px) {
	
	.error-container h1 {
		font-size: 72px;
	}
}

/*------------------------------------------------------------------
[2. Max Width: 767px]
*/

@media (max-width: 767px) {
    	
	#main {
		padding: 0 10px;
		margin-right: -20px;
		margin-left: -20px;	
	}
	
	.subnavbar {
		margin-left: -20px;
		margin-right: -20px;	
	}
	
	.subnavbar-inner {
		height: auto;
	}
	
	.subnavbar .container > ul {
		width: 100%;
		height: auto;
		border: none;
	}
	
	.subnavbar .container > ul > li {
		width: 33%;
		height: 70px;
		margin-bottom: 0;
		border: none;
	}
	
    .subnavbar .container > ul > li.active > a {
		font-size: 11px;
    	background: transparent;
    }
	
	.subnavbar .container > ul > li > a > i {	
		display: inline-block;	
		margin-bottom: 0;
		font-size: 20px;
	}
	
	.subnavbar-open-right .dropdown-menu {
		left: auto;
		right: 0;
	}
	
	.subnavbar-open-right .dropdown-menu:before {
		left: auto;
		right: 12px;
	}
	.subnavbar-open-right .dropdown-menu:after {
		left: auto;
		right: 13px;
	}
	
	.extra {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.extra .container {
		padding: 0 20px;
	}
	
	.footer {
		margin-right: -20px;
		margin-left: -20px;
	}
	
	.footer .container {
		padding: 0 20px;
	}
	
	.footer .footer-terms {
		text-align: left;
	}
	
	.footer .footer-terms a {
		margin-left: 0;
		margin-right: 1em;
	}
	
	img.flyer {
		max-height:250px;
		max-width:250px;
	}

	img.logo {
		max-height:50px;
		max-width:200px;
	}

	img.logo-small {
		max-height:25px;
		max-width:100px;
	}

	img.logo-large {
		max-height:75px;
		max-width:250px;
	}
}
    




/*------------------------------------------------------------------
[3. Max Width: 979px]
*/

@media (max-width: 979px) {
	
	.navbar-fixed-top {
		position: static;
		
		margin-bottom: 0;
	}
	
	.subnavbar {
	}
	
	.subnavbar .container {		
		width: auto;
	}
	
	#calendar.small {
		width: 450px;
		margin: 0 auto;
	}

	#calendar {
		width: 600px;
		margin: 0 auto;
	}
	
	img.flyer {
		max-height:250px;
		max-width:250px;
	}

	img.logo {
		max-height:60px;
		max-width:300px;
	}

	img.logo-small {
		max-height:30px;
		max-width:150px;
	}

	img.logo-large {
		max-height:100px;
		max-width:300px;
	}
}


/*------------------------------------------------------------------
[4. Max Width: 1200px]
*/

@media (min-width: 1200px) {
	.navbar .search-query {
		width: 200px;
	}
	
	#calendar.small {
		width: 600px;
		margin: 0 auto;
	}

	#calendar {
		width: 900px;
		margin: 0 auto;
	}
	
	img.flyer {
		max-height:250px;
		max-width:250px;
	}

	img.logo {
		max-height:70px;
		max-width:350px;
	}

	img.logo-small {
		max-height:50px;
		max-width:200px;
	}

	img.logo-large {
		max-height:150px;
		max-width:450px;
	}
}