/*------------------------------------------------------------------

[Dashboard Stylesheet]

	Project:		Base Admin
	Version:		1.0
	Last change:	05/21/2012
	Assigned to:	Rod Howard (rh)



[Table of contents]

	1. Shortcuts
	2. Stats
	3. Task List
	4. News Item

-------------------------------------------------------------------*/



/*------------------------------------------------------------------
[1. Shortcuts / .shortcuts]
*/

.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;	
	
	text-decoration: none;
	
	background: #F3F3F3;
	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	
	font-size: 32px;
	color: #888;
}

.shortcuts .shortcut:hover {
	background: #E8E8E8;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #666;
}

/*------------------------------------------------------------------
[3. News Item / .news-items]
*/

.news-items {
	padding: 0em 0 0 0;
	margin:0px 0px 0px 0px; /* important! since bootstrap shifts ul right-> */
}

.news-items li {
	display: table;
	padding: 1em 0 0 0;
	min-width: 100%;
	border-bottom: 2px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-detail {
	display:table-cell;
	clear:both;
}

.news-item-preview {
	color:#777;
	clear:both;
}

.news-item-title {
	display: block;
	font-size: 14px;
	font-weight: 600;
	float: left;
	left: 0px;
	max-width: 80%;
	border-bottom: 1px dotted;
}

.news-item-date {
	width: 75px;
	display: block;
	right: 0px;
	top: 0px;
	float: right;
	padding-left: 5px;
	border-left: 1px dotted;
	border-bottom: 1px dotted;
}

.news-item-day {
	display: block;
	font-size: 22px;
	color: #888;
}

.news-item-month {
	display: block;
	font-size: 14px;
	font-weight: 600;
	color: #888;
}

.showless { height: 2em; overflow: hidden;}

div[id=topcontent]:hover {
	background:rgba(200,200,200,0.2);
	cursor:pointer;
}

/*------------------------------------------------------------------
[4. Coworking Table / .table-cowork]
*/

.table-cowork {
	width: 100%;
}

.table-cowork thead td { 
	text-align: center;
	vertical-align: middle;
}

.table-cowork tbody td { 
	text-align: center;
	vertical-align: middle;
	width: 6em;
	border-top: 0px;
}

.table-cowork tbody td:first-child { 
	max-width: 1px;
}

.table-cowork .break-icon {
	border-right: 1px solid #bbb;
	padding-left: 0.5em;
	padding-right: 0em;
	padding-bottom: 0px;
	padding-top: 0px;
}

.table-cowork [class^="icon-"], .table-cowork [class*=" icon-"] a:hover{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 20px;
	vertical-align: middle;
	text-decoration: none;
}

@media (max-width: 979px) {
	
}

@media (max-width: 480px) {
	
}