.fiftyPercent {
    height: 50%;
}
.fullHeight {
    height: 100%;
}
.newpostform {
    padding-top: 20px;
    margin-bottom: 0;
    -webkit-user-select: text;
}
.tray {
    margin-bottom: 35px;
    background: #111;
    border-bottom: 1px solid #333;
    color: #eee;
    text-shadow: 0 0 1px #eee;
}

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}
.fixed-bottom {
    top: auto;
    bottom: 0;
}