.articlefullpage {
	width:80%;
	height:80%;
	border:1px solid orange;
	left:10%;
	margin:0px;
	padding:0px;
}
.article-info h4 {
	padding:0px;
	margin:0px;	
}
.article-info .icon-star {
	color: #D6AE3E;
	font-size:20px;
	display:inline-block;
	height:20px;
	width:20px;
}
.article-info .icon-star:hover,
.article-info .icon-star:before,
.article-info .icon-star:after,
.article-info .icon-star:active {
	color: #D6AE3E;
	font-size:20px;
	display:inline-block;
	height:20px;
	width:20px;
}
.article-header {
	margin:0px;
	padding:0px;
	padding:10px;
}
.article-body {
	width:95%;
	height:100%;
	padding:0px;
	margin:0px;
	margin-left:2.5%;
	text-align:left;
	vertical-align:top;
}
.article-content {
	width:65%;
	height:100%;
	padding:1px;
	margin:1px;
}
.article-info {
	width:30%;
	padding:1px;
	margin:1px;
	vertical-align:top;
}