.fiftyPercent {
    height: 50%;
}
.fullHeight {
    height: 100%;
}
.newpostform {
    -webkit-user-select: text;
    overflow:hidden;
}
.modal.myWindow {
    width:100%;
    position:fixed;
    margin:0px;
    padding:0px;
    top:auto;
    bottom:0px;
    left:0px;
    min-height:400px;
    /*background-color: #222;*/
    background-color:rgb(34,34,34);
    background-color:rgba(34,34,34,0.5);
    /* We need to lower the z-index so that the login popup is launched on top of the editor*/
    z-index: 1040;
}
.modal.myWindow .container {
    margin-top:10px;
    margin-bottom:0px;
    color:#eee;
    /*background-color: #444;*/
    background-color:rgb(68,68,68);
    background-color:rgba(68,68,68,0.9);
}
.modal.myWindow form {
    margin-bottom: 0px;
}
.modal.myWindow.fade {
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
       -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
          transition: opacity 0.3s linear, bottom 0.3s ease-out;
}
.modal.myWindow.fade.in {
    top:auto;
    bottom:0px;
}
.modal.myWindow.fade.out {
  bottom:0px;
}