<head>
	<link rel="stylesheet" href="css/services/content_article_fullpage.css">
</head>

<div class="modal articlefullpage">
	<!-- the "BACK" button -->
	<!--
	<div class="span1">
		<button class="content-btn-back btn btn-large unselectable borderboxbutton" data-dismiss="modal"><i class="icon-arrow-left"></i></button>
	</div>
	-->
	<div class="modal-header article-header">
		<button class="pull-right btn-close" ng-click="close()">
			<i class="icon-remove"></i>
		</button>
		<h3>{{dialogOptions.title}}</h3>
	</div>
	<div class="modal-body"> <!-- the CONTENT -->		
		<table class="article-body">
		<tr><td class="article-content">
			<div class="well">
				{{dialogOptions.content}}
				{{dialogOptions.content}}
				{{dialogOptions.content}}
				{{dialogOptions.content}}
				{{dialogOptions.content}}
				{{dialogOptions.content}}
			</div>
		</td>
		<td class="article-info">
			<div class="well">
				<span class="pull-left"><h4>Author:&nbsp;&nbsp;</h4><a href="#/users/{{dialogOptions.authorid}}">{{dialogOptions.author}}</a></span>
				<span class="pull-right"><a class="btn btn-inverse" href="{{dialogOptions.source}}" target="_blank">source</a></span>
				<div class="clearfix"></div>
				<span class="pull-left muted">Date<br>{{dialogOptions.date}}</span>
				<span class="pull-right muted">Time<br>{{dialogOptions.time}}</span>
				<div class="clearfix"></div>
				<div class="social pull-left">
					Share Content
					<ul>
						<li class="borderboxbutton"><a href=""><i class="icon-facebook-sign facebook"></i></a></li>
						<li class="borderboxbutton"><a href=""><i class="icon-google-plus-sign google-plus"></i></a></li>
						<li class="borderboxbutton"><a href=""><i class="icon-twitter-sign twitter"></i></a></li>
					</ul>
				</div>
				<div class="pull-right">
					Rate Content
					<div class="clearfix"></div>
					<rating value="dialogOptions.rating" max="5" readonly="loginp()"></rating>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="well">
				discuss here.........
			</div>
		</td>
		</table>
	</div>
</div>
</div>