<head>
	<link rel="stylesheet" href="css/services/content_article_fullpage.css">
</head>

<div class="modal articlefullpage">
	<!-- the "BACK" button -->
	<!--
	<div class="span1">
		<button class="content-btn-back btn btn-large unselectable borderboxbutton" data-dismiss="modal"><i class="icon-arrow-left"></i></button>
	</div>
	-->
	<div class="modal-header article-header">
		<button class="btn btn-inverse content-btn-close" ng-click="dialogOptions.close()"> × </button>
		<h3>{{contentdata.title}}qwdqwdwdqwdwqd</h3>
	</div>
	<div class="modal-body"> <!-- the CONTENT -->		
		<table class="article-body">
		<tr><td class="article-content">
			<div class="well">
				{{contentdata.content}}qwdqdwwewe2e2e2e2e2
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
				wowiejf oiwaj foijw efoij aw;ofj ;oiwaej fowaj oefj ;oweaj fowaf
			</div>
		</td>
		<td class="article-info">
			<div class="well">
				<h5>Author:   {{contentdata.author}}</h5>
				<h5>Source:   {{contentdata.source}}</h5>
				<h5>Date:     {{contentdata.datetime}}</h5>
				<div class="social pull-left">
					Share Content
					<ul>
						<li class="borderboxbutton"><a href=""><i class="icon-facebook-sign facebook"></i></a></li>
						<li class="borderboxbutton"><a href=""><i class="icon-google-plus-sign google-plus"></i></a></li>
						<li class="borderboxbutton"><a href=""><i class="icon-twitter-sign twitter"></i></a></li>
					</ul>
				</div>
				<div class="pull-right">
					Rate Content
					<rating value="contentdata.rating" max="5" readonly="false"></rating>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="well">
				discuss here.........
			</div>
		</td>
		</table>
	</div>
</div>
</div>