<head>
	<link rel="stylesheet" href="css/services/content_article_fullpage.css">
</head>

<div class="modal articlefullpage">
	<!-- the "BACK" button -->
	<!--
	<div class="span1">
		<button class="content-btn-back btn btn-large unselectable borderboxbutton" data-dismiss="modal"><i class="icon-arrow-left"></i></button>
	</div>
	-->
	<div class="modal-header article-header">
		<button class="pull-right btn-close" ng-click="close()">
			<i class="icon-remove"></i>
		</button>
		<h3>{{dialogData.title}}</h3>
	</div>
	<div class="modal-body article-body"> <!-- the CONTENT -->		
		<div class="article-content pull-left">
			<div class="well">
				{{dialogData.content}}
				{{dialogData.content}}
				{{dialogData.content}}
				{{dialogData.content}}
				{{dialogData.content}}
				{{dialogData.content}}
			</div>
		</div>
		<div class="article-info pull-right">
			<div class="well">
				<span class="pull-right"><a class="btn btn-inverse" href="{{dialogData.source}}" target="_blank">source</a></span>
				<span class="pull-left"><h4>Author:&nbsp;&nbsp;</h4><a href="#/users/{{dialogData.authorid}}">{{dialogData.author}}</a>
					<br/>
					<span class="muted">
						<h4>Date:&nbsp;&nbsp;</h4>{{dialogData.date}}
						<br/>
						<h4>Time:&nbsp;&nbsp;</h4>{{dialogData.time}}
					</span>
				</span>
				<div class="clearfix"></div>
				<div class="social pull-left">
					Share Content
					<ul>
						<li class="borderboxbutton"><a href=""><i class="icon-facebook-sign facebook"></i></a></li>
						<li class="borderboxbutton"><a href=""><i class="icon-google-plus-sign google-plus"></i></a></li>
						<li class="borderboxbutton"><a href=""><i class="icon-twitter-sign twitter"></i></a></li>
					</ul>
				</div>
				<div class="pull-right">
					Rate Content
					<div class="clearfix"></div>
					<rating value="dialogData.rating" max="5" readonly="loginp()"></rating>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="article-social pull-right">
			<div class="well">
				discuss here.........
			</div>
		</div>
	</div>
</div>