<div class="modal-body">
	<form class="custom" method="POST">
		<div class="container">
			<div class="row-fluid newpostform">
				<div class="span9">
					<div class="widget-body">
						<!--Body content-->
						<input id="inputContentRichText" type="hidden" name="source" value="Write your own article, news, or tutorial and publish it now!" class="js_source fullHeight">
					</div>
				</div>
				<div class="span3">
					<i class="icon-remove-circle pull-right" data-ng-click="dialogOptions.close()"></i>
					<!--Sidebar content-->
					<div class="widget-body">
						<h4>Content Title<span style="color:red;font-size:medium"> *</span></h4>
						<input ng-model="dialogOptions.title" class="input-large" placeholder="Enter content title..."/>
						<h4>Category<span style="color:red;font-size:medium"> *</span></h4>
						<select ng-model="dialogOptions.category" class="input-large" placeholder="Chose a category...">
							<option ng-repeat="category in dialogCategories">{{category}}</option>
						</select>
						<h4>Labels</h4>
						<textarea ng-model="dialogOptions.labels" rows="5" class="input-large" placeholder='Enter content labels separated by commas (",")'></textarea>
 						<div class="controls controls-row">
							<button class="btn btn-primary" ng-show="dialogOptions.loginp()" ng-click="dialogOptions.post();" ng-disabled="!dialogOptions.formValid()">{{dialogOptions.actionButtonText}}</button>
							<button class="btn btn-primary" ng-hide="dialogOptions.loginp()" ng-click="$root.openlogin=true">{{dialogOptions.loginButtonText}}</button>
							<button class="btn btn-success" ng-show="dialogOptions.loginp()" ng-click="dialogOptions.save();" ng-disabled="!dialogOptions.formValid()">{{dialogOptions.saveButtonText}}</button>
							<button class="btn btn-danger" data-ng-click="dialogOptions.close()">{{dialogOptions.closeButtonText}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
