<div ng-controller="ContentCtrl" class="container">
	<div class="row">
		<!-- the "BACK" button -->
		<div class="span1 content-navback">
			<i class="icon-arrow-left"></i>
		</div>
		<!-- the TEXT CONTENT -->
		<div class="span7">
			<div class="item-title">
				<h2>{{article.articlename}}</h2>
				<span class="offset5 pull-right item-day">{{article.day}}</span>
				<span class="item-month pull-right">{{article.month}}</span>
			</div>
			<div class="well well-large">
				<h3>some image</h3>
			</div>
			<div class="item-content">{{article.content}}</div>
		</div>
		</div>
	</div>
</div>
