<div class="modal-body">
<div class="container">
	<div class="row">
		<!-- the "BACK" button -->
		<div class="span1">
			<button class="content-btn-back btn btn-large btn-inverse btn-link"><i class="icon-arrow-left"></i></button>
		</div>
		<!-- the CONTENT -->
		<div class="span7">
			<div class="span2 pull-right">
			<div class="well well-large">
				<h4>Author:  {{article.author}}</h4>
				<h4>Source:  {{article.source}}</h4>
				<h4>Date:  {{article.datetime}}</h4>
				<h4>Twitter:  {{article.twitterid}}</h4>
				<h4>Website:  {{article.websiteurl}}</h4>
				<hr/>
				<div style="margin-top:0px;" class="social-site-links">
					Share This Content
					<h2>
						<div class="span">
							<a href="">
							<i class="icon-facebook-sign facebook"></i>
							</a>
						<div class="span">
							<a href="">
							<i class="icon-twitter twitter"></i>
							</a>
						</div>
						<div class="span">
							<a href="">
							<i class="icon-twitter-sign twitter"></i>
							</a>
						</div>
						<div class="span">
							<a href="">
							<i class="icon-google-plus-sign google-plus"></i>
							</a>
						</div>
					</h2>
				</div>
				<h3>Rate this content</h3>
				<div class="clearfix"></div>
				<rating value="item.rate" max="5" readonly="false"></rating>
			</div>
			</div>
			<div class="span4 pull-left">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<h2>{{article.title}}</h2>
					<p class="article">{{article.content}}</p>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>
</div>