
<div class="main-inner">
  <div class="container-fluid">
    <div class="row">
      <div id="events" class="span10 offset1">
        <div class="widget">
          <div class="widget-header"><i class="icon-cogs"> </i><span class="break"></span>
            <h3>Events</h3>
          </div>
          <div class="widget-content">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.event" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.name}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.title}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="activity" class="span4">
        <div class="widget">
          <div class="widget-header">
            <h3>Your activities</h3>
          </div>
          <div class="widget-content"><a href="" class="btn">
              <h4>login to create new activities</h4></a></div>
        </div>
      </div>
      <div id="create_activity" class="span2 offset2"><a href="#/events/new" class="btn">
          <h4>Create Activity</h4></a></div>
      <div id="workshops" class="span10 offset1">
        <div class="widget">
          <div class="widget-header"><i class="icon-bullhorn"></i><span class="break"></span>
            <h3>Workshops</h3>
          </div>
          <div class="widget-content">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.workshop" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.name}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.title}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="conferences" class="span10 offset1">
        <div class="widget">
          <div class="widget-header"><i class="icon-upload-alt"></i><span class="break"></span>
            <h3>Conferences</h3>
          </div>
          <div class="widget-content">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.conference" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.owner}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.place}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <pre>{{ sexpr(data) }}</pre>
  </div>
</div>