<head>
  <link rel="stylesheet" href="css/events.css">
  <link rel="stylesheet" href="css/plugins/list_tableview.css">
</head>

<div class="container" ng-controller="EventsCtrl">
  <div class="row">
    <div class="span8">
      <div class="widget">
        <div class="widget-body">
          <tabset class="unselectable">
            <tab heading="Meetups">
              <table class="table table-striped table-condensed table-hover">
              <thead class="list-header">
                <td>Location<td>Name<td>Date<td>Time<td>Price
              </thead>
              <tbody>
                <tr class="list-body" ng-click="listClickLink(event.path)" ng-repeat="event in events" tooltip="{{event.description}}" tooltip-placement="right" tooltip-append-to-body="true">
                  <td>{{event.location}}</td>
                  <td>{{event.name}}</td>
                  <td>{{event.date}}</td>
                  <td>{{event.time}}</td>
                  <td>{{event.price}}</td>
                </tr>
              </tbody>
            </table>
            </tab>
            <tab heading="Workshops">
              <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.workshop" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.name}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.title}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
              </table>
            </tab>
            <tab heading="Conferences">
              <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.conference" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.owner}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.place}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
              </table>
            </tab>
            <tab></tab>
            <tab heading="Discussion">
              <div ng-include="'partials/plugins/social_facebook.html'"></div>
            </tab>
            <tab></tab>
            <tab heading="Submit An Event">
              
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="widget widget-nopad">
        <div class="widget-body">
          Sort By:
          <select>
            <option>test1</option>
            <option>test2</option>
            <option>test3</option>
            <option>test4</option>
            <option>test5</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<pre>{{sexpr(rp)}}</pre>