<head>
  <link rel="stylesheet" href="css/events.css">
</head>

<div class="container" ng-controller="EventsCtrl">
  <div class="row">
    <div class="span8">
      <div class="widget">
        <div class="widget-body">
          <tabset class="unselectable">
            <tab heading="Meetups">
              <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.event" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.name}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.title}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
            </table>
            </tab>
            <tab heading="Workshops">
              <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.workshop" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.name}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.title}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
              </table>
            </tab>
            <tab heading="Conferences">
              <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr align="center" ng-repeat="event in events.conference" class="linkrow">
                  <td><a href="#/events/{{event.name}}">{{event.owner}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.place}}</a></td>
                  <td><a href="#/events/{{event.name}}">{{event.description}}</a></td>
                </tr>
              </tbody>
              </table>
            </tab>
            <tab></tab>
            <tab heading="Discussion">
              <div ng-include="'partials/plugins/social_facebook.html'"></div>
            </tab>
            <tab></tab>
            <tab heading="Submit An Event">
              
            </tab>
          </tabset>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="widget widget-nopad">
        <div class="widget-head">
          <i class="icon-ellipsis-horizontal"></i>
        </div>
        <div class="widget-body">

        </div>
      </div>
    </div>
  </div>
</div>
<pre>{{sexpr(rp)}}</pre>