<div class="container">
  <div class="row">

    <div class="span9">
      <div class="widget">
        <div class="widget-body">
        <tabset class="unselectable">
          <tab heading="News">
            <div ng-include="'partials/plugins/content_articles.html'"></div>
          </tab>
          <tab heading="Startups">
            
          </tab>
          <tab heading="Investors">
            
          </tab>
          <tab heading="Services">
            
          </tab>
          <tab heading="Work Spaces">
            
          </tab>
          <tab heading="Communities">
            
          </tab>
          <tab></tab> <!-- SPACE -->
          <tab heading="Discuss">
            <!--div ng-include="'partials/plugins/social_facebook.html'"></div-->
          </tab>
          <button ng-click="compose()" class="btn btn-compose btn-success pull-right">
            <i class="icon-edit"></i>Compose
          </button>
        </tabset>
        </div>
      </div>
    </div>

    <div class="span3">
      <div class="widget">
        <div class="widget-body">
          <div ng-include="'partials/plugins/widget_filterbox.html'"></div>
        </div>
      </div>
      <div class="widget">
        <div class="widget-body">
          <div calendar="calendar"></div>
        </div>
      </div>
      <div class="widget">
        <div class="widget-body">
          <div map="{{filterbox.region}}"></div>
        </div>
      </div>
      <div class="widget">
        <div class="widget-body">
          <a href="#/contact"><img src="http://placehold.it/250x200" tooltip="Advertise with us! Reach startups, service providers, investors, and communities all across Asia! Click Here to contact us!"/></a>
        </div>
        <div class="widget-body">
          <img src="http://placehold.it/250x200"/>
        </div>
      </div>
      <!--div ng-include="'partials/plugins/social_twitter.html'"></div-->
    </div>
    
  </div>
</div>
<pre>{{ sexpr(data) }}</pre>