<head>
	<link rel="stylesheet" href="css/partners.css">
</head>

<div class="container">
	<div class="row">
		<div class="span8">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-globe"></i>
				</div>
				<div class="widget-body">
					<center>
					<table cellpadding="10" class="table-partners">
						<tbody>
							<tr ng-repeat="items in partners">
								<td ng-repeat="item in items">
									<a href="{{item.url}}" target="_new">
										<div class="logo-parters-container">
										<img class="logo-small" src="{{item.src}}"/>
										</div>
										<br /> {{item.title}} </a></td>
							</tr>
						</tbody>
					</table>
					<br />
					<a target="_new" href="http://www.theeidos.com"><img src="./img/logos_partners/th_eidos.png" class="logo-small"></a><b>TechGrind</b> is a proud user of <a target="_new" href="http://www.theeidos.com"><b>Eidos</b></a> project management tool.
					</center>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<div class="container">
					<form id="contactform" class="ng-pristine ng-valid">
							<input class="text" placeholder="Name" ng-model="frmName"><br>
							<input class="text" placeholder="E-mail" ng-model="frmEmail"><br>
							<input class="text" placeholder="Country" ng-model="frmCountry"><br>
							<textarea rows="5" placeholder="Message..." ng-model="frmMessage"></textarea><br>
							<button class="btn btn-primary"" ng-click="send()">Send</button>
						</form>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
