<head>
	<link rel="stylesheet" href="css/regions.css">
	<link rel="stylesheet" href="css/plugins/content.css">
</head>

<div class="container">
	<div class="row">
		<div class="span8">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<tabset class="unselectable">
						<tab heading="News">
							<div ng-controller="ContentNewsCtrl">
								<div ng-include="'partials/plugins/content_articles.html'"></div>
							</div>
						</tab>
						<tab heading="Activities">
							<div ng-controller="ListActivitiesCtrl">
								<div ng-include="'partials/plugins/list_tableview.html'"></div>
							</div>
						</tab>
					 	<tab heading="Calendar" select="tabCalendarSelect()">
							<div id="calendar" calendar="{{rp.region}}" region="{{rp}}"></div>
						</tab>
						<tab heading="Discussion">
							<div ng-include="'partials/plugins/social_facebook.html'"></div>
						</tab>
						<button ng-click="compose()" class="btn btn-compose btn-success pull-right">
							<i class="icon-edit"></i>Compose
						</button>
						<!--div ng-hide="editable">
							<div style="float:right;" ng-click="editable=!editable" class="btn">
								Edit items
							</div>
						</div>
						<div ng-show="editable">
							<div droppable="droppable" class="list1">
								<div ng-repeat="tab in list1" data-index="$index" data-reject="{{tab.reject}}" draggable="draggable" class="btn btn-info btn-block">
									{{ tab.name }}
								</div>
							</div>
							<div droppable="droppable" class="list2">
								<div ng-repeat="tab in list2" data-index="$index" data-reject="{{tab.reject}}" draggable="draggable" class="btn btn-info btn-block">
									{{ tab.name }}
								</div>
							</div>
							<div style="float:right;" ng-click="editable=!editable" class="btn">
								Done
							</div>
						</div-->
					</tabset>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="widget widget-nopad">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<span class="break">Techgrind {{articles.country}}</span>
					<center>
						<table class="table table-hover table-striped">
							<tbody ng-repeat="profile in profiles">
								<tr>
									<th><i class="{{profile.icon}}">&nbsp;</i><em>{{profile.role}}</em></th>
								</tr>
								<tr ng-repeat="detail in regionprofile[profile.type]">
									<td>{{detail.name}}</td>
									<td>{{detail.mail}}</td>
								</tr>
							</tbody>
						</table>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
<pre>{{sexpr(rp)}}</pre>