<div class="container">
	<div class="row">
		<div class="span8">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<tabset style="font-color:red">
						<tab heading="News">
							<div ng-repeat='item in  regionblog["news"]' class="article">
								<h1>{{item.title}}</h1>
								<div class="left"><img src="http://placehold.it/120x80"/><div class="clearfix"></div><rating value="item.rate" max="5" readonly="false"></rating>
								</div>
								<div class="right">
									<div class="meta">
										<ul>
											<li>
												{{item.country}}
											</li>
											<li>
												{{item.owner}}
											</li>
											<li>
												{{item.month}} {{item.day}}
											</li>
										</ul>
									</div>
									<p>
										{{item.excerpt}}
									</p>
									<div class="social-sharing">
										<ul>
											<li>
												<i class="icon-facebook-sign"></i>{{item.fb}}
											</li>
											<li>
												<i class="icon-google-plus-sign"></i>{{item.gp}}
											</li>
											<li>
												<i class="icon-twitter-sign"></i>{{item.tw}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</tab>
							<div>
								<ul class="items">
									<li ng-repeat="item in regionblog[tab.title]">
										<a href="#/{{item.tab}}/{{item.articlename}}" style="text-decoration:none;">{{item.title}}</a>
										<div id="topcontent" ng-click="toggle=!toggle" class="item-detail">
											<div class="item-title">
												<h3>{{item.title}}</h3>
											</div>
											<div class="item-date">
												<span style="font-size:200%" class="offset9 item-day">{{item.day}}</span><span class="item-month">{{item.month}}</span>
											</div>
											<p ng-class="{showall:toggle,showless:!toggle}" ng-bind-html-unsafe="item.content" class="item-preview"></p>
											<p align="left" ng-show="!toggle">
												<a href="#/{{item.url||&quot;empty&quot;}}" style="text-decoration:none;">click to expand</a>
											</p>
										</div>
									</li>
								</ul>
							</div>
						</tab>
						<tab heading="Calendar" select="rendercal()">
							<div id="calendar" calendar="rp.region" region="rp"></div>
						</tab>
						<div>
							<div style="float:right;" ng-click="compose()" class="btn">
								Compose
							</div>
						</div>
						<div ng-hide="editable">
							<div style="float:right;" ng-click="editable=!editable" class="btn">
								Edit items
							</div>
						</div>
						<div ng-show="editable">
							<div droppable="droppable" class="list1">
								<div ng-repeat="tab in list1" data-index="$index" data-reject="{{tab.reject}}" draggable="draggable" class="btn btn-info btn-block">
									{{ tab.name }}
								</div>
							</div>
							<div droppable="droppable" class="list2">
								<div ng-repeat="tab in list2" data-index="$index" data-reject="{{tab.reject}}" draggable="draggable" class="btn btn-info btn-block">
									{{ tab.name }}
								</div>
							</div>
							<div style="float:right;" ng-click="editable=!editable" class="btn">
								Done
							</div>
						</div>
					</tabset>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="widget widget-nopad">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<span class="break">Techgrind {{articles.country}}</span>
					<center>
						<table class="table table-hover table-striped">
							<tbody ng-repeat="profile in profiles">
								<tr>
									<th><i class="{{profile.icon}}">&nbsp;</i><em>{{profile.role}}</em></th>
								</tr>
								<tr ng-repeat="detail in regionprofile[profile.type]">
									<td>{{detail.name}}</td>
									<td>{{detail.mail}}</td>
								</tr>
							</tbody>
						</table>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
<pre>{{sexpr(rp)}}</pre>