<head>
	<script type="text/javascript" src="http://static.tsviewer.com/short_expire/js/ts3viewer_loader.js"></script>
	<script type="text/javascript">
		<!--
		var ts3v_url_1 = "http://www.tsviewer.com/ts3viewer.php?ID=1028389&text=000000&text_size=13&text_family=4&js=1&text_s_weight=bold&text_s_style=normal&text_s_variant=normal&text_s_decoration=none&text_s_color_h=525284&text_s_weight_h=bold&text_s_style_h=normal&text_s_variant_h=normal&text_s_decoration_h=underline&text_i_weight=normal&text_i_style=normal&text_i_variant=normal&text_i_decoration=none&text_i_color_h=525284&text_i_weight_h=normal&text_i_style_h=normal&text_i_variant_h=normal&text_i_decoration_h=underline&text_c_weight=normal&text_c_style=normal&text_c_variant=normal&text_c_decoration=none&text_c_color_h=525284&text_c_weight_h=normal&text_c_style_h=normal&text_c_variant_h=normal&text_c_decoration_h=underline&text_u_weight=bold&text_u_style=normal&text_u_variant=normal&text_u_decoration=none&text_u_color_h=525284&text_u_weight_h=bold&text_u_style_h=normal&text_u_variant_h=normal&text_u_decoration_h=none";
		ts3v_display.init(ts3v_url_1, 1028389, 100);
		-->
	</script>
</head>
<div class="container">
	<div class="row">
		<div class="span8">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<h2>Does your startup have people working remotely?</h2>
					<p>As startups, often we work from home, work from a coffee shop, work from the customer location, or even work from different countries. Dont let that bother you! At TechGrind we have a perfect solution which many of us have used successfully for years: <b>a permanent VoIP & chat server</b>.
					</p>
					<h2> What's a "<i>permanent VoIP & chat server</i>"???</h2>
					<p>It is a tool like TeamSpeak, or Mumble, or any other VoIP software that lets you login to a voice-chat server and stay connected as long as you want. Not to be confused with things like Skype - which are temporary, and not permanently server-hosted (poor quality).<br>
					On TeamSpeak you can create chat rooms, have conference calls, and stay connected to your team, customers, investors, and basically anybody no matter where you are in the world - all the time - 24/7. There is even a mobile client you can take with you on the go.<br>
					It is the best quality VoIP (Voice over Internet Protocol) solution out there. No more creaky Skype calls with poor voice quality and disconnects. Use a fully server-hosted VoIP service and your needs are answered!
					</p>
					<h2>Great! How do I join?</h2>
					<p>
					<ul>
						<li>First go download TeamSpeak here: <a href="http://www.teamspeak.com/?page=downloads" target="_blank">www.teamspeak.com</a> and then install. Yes! Its FREE!
						<li>Android Version here: <a href="https://play.google.com/store/apps/details?id=com.teamspeak.ts3client" target="_blank">Google Play Store</a>
						<li>iPhone Version here: <a href="https://itunes.apple.com/en/app/teamspeak-3/id577628510?mt=8" target="_blank">Apple iTunes Store</a>
						<li>Once you've done that, simply connect to our TS3 server @ <b>talk.techgrind.asia</b> (NO password needed!)
						<li>Viola! Thats it! You will probably need to configure your sound settings. Otherwise, youre ready to chat!
					</ul>
					If you want to have your own private channels and sub-channels setup, just contact one of the admins!
					</p>
					<h2>Wait, did you say FREE?</h2>
					<p>Of course! Every thing is FREE! Part of our service to our fellow startups. Sponsored by <b>TechGrind</b> - you'll never pay a dime!
					</p>
				</div>
			</div>
		</div>
		
		<div class="span4">
			<div class="widget">
				<div class="widget-head">
					<i class="icon-ellipsis-horizontal"></i>
				</div>
				<div class="widget-body">
					<h2>TeamSpeak Server</h2>
				</div>
			</div>
			<div class="widget">
				<div class="widget-body">
					<div id="ts3viewer_1028389" style="width:; background-color:;"> </div>
				</div>
			</div>
		</div>
						
		<div class="span4">
			<div class="widget">
				<div class="widget-body">
					<div ng-include="partials/widgets/ts3viewer.html"/>
				</div>
			</div>
		</div>
	</div>
</div>