<div class="container">
	<div class="widget">
		<div class="widget-head">
			<i class="icon-ellipsis-horizontal"></i>
		</div>
		<div class="widget-body">
			<div class="row-fluid">

				<div class="span3">
					<div ng-include="'partials/plugins/menu_accordion.html'"></div>
				</div>

				<div class="span9">
					<div class="title">
						<h1>{{activeTitle}}</h1>
						<p>{{activeDescription}}</p>
					</div>
					<div ng-controller="ContentGuidesCtrl">
						<div ng-include="'partials/plugins/content_articles.html'"></div>
					</div>
				</div>

			</div> <!-- //row-fluid -->
		</div>
	</div>
</div>
<pre>{{sexpr(rp)}}</pre>