<div class="modal-body marginAndHeight">
	<form class="custom" method="POST">
		<div class="container">
			<div class="row-fluid">
				<div class="span9">
					<!--Body content-->
					<input id="inputForRichText" ng-model="dialogOptions.fullText" type="hidden" name="source" class="fullHeight" >
				</div>
				<div class="span3">
					<!--Sidebar content-->
					<h3 style="margin-top: 0;">Headline<span style="color: red;font-size: medium">*</span></h3>
					<input ng-model="dialogOptions.title" style="width: 180px;" placeholder="Add a headline"/>
					<br />
					<h3>Labels</h3>
					<textarea ng-model="dialogOptions.labels" rows="5" style="width: 170px" placeholder="my label,"></textarea>
					<label>Separate labels by commas</label>

					<br/><br/>


					<div class="row-fluid">
							<button class="btn btn-danger" data-ng-click="dialogOptions.close()">{{dialogOptions.closeButtonText}}</button>
							<button class="btn btn-success" ng-show="dialogOptions.loginp()" ng-click="dialogOptions.save();" ng-disabled="!dialogOptions.formValid()">{{dialogOptions.savenButtonText}}</button>
							<button class="btn btn-primary" ng-show="dialogOptions.loginp()" ng-click="dialogOptions.post();" ng-disabled="!dialogOptions.formValid()">{{dialogOptions.actionButtonText}}</button>
							<button class="btn btn-primary" ng-hide="dialogOptions.loginp()" ng-click="$root.openlogin=true">{{dialogOptions.loginButtonText}}</button>
					</div>

				</div>
			</div>
		</div>
	</form>
</div>
