/*

This file should have all template elements that are specific to resource pages.
Examples...
Document viewer:
http://ngtg.techgrind.asia:8000/#/resources/docs
Media viewer:
http://ngtg.techgrind.asia:8000/#/resources/media
Teamspeak controller:
http://ngtg.techgrind.asia:8000/#/resources/teamspeak
TechGrind Partners & Membership pages:
http://ngtg.techgrind.asia:8000/#/partners
http://ngtg.techgrind.asia:8000/#/members
(members page not live yet)

*/