.container.div(ng-controller='ContentCtrl')
	.span7.row
		.item-title
			h2 {{article.articlename}}
			span.offset5(class='item-day', style='font-size:150%;') {{article.day}}
			span(class='item-month') {{article.month}}
		div(class='well well-large')
			h3 some image
		div(class='item-content')
			{{article.content}}
	.span4.row
		div(class='well well-large')
			h4 Author:  {{detail.author}}
			h4 Source:  {{detail.source}}
			h4 Date:  {{detail.date}}
			h4 Twitter:  {{detail.twitter}}
			h4 Website:  {{detail.website}}
		div(class='well well-large')
			div(class='social-site-links', style='margin-top:0px;')
				h2
					.span
						a(href="")
							.i.icon-facebook
					.span
						a(href="")
							.i.icon-twitter
					.span
						a(href="")
							.i.icon-envelope
					.span
						a(href="")
							.i.icon-share
			br
			h3 how useful was this content
			span(class='rating-stars')  400 votes
		div(ng-model='chatterbox', class='well well-large', style='height:200px;display:table-cell;vertical-align:bottom;')
			form(ng-submit='addComment()')
				input(type='text', placeholder='add comment. . .', ng-model='commenttext', style='margin-bottom:-30px;align:center;width:240px;')
				input(type='submit', class='inline', value='post')
		div(class='well well-large')

		pre
			route-params: {{ sexp(rp) }}
		pre
			article: {{ sexp(article) }}
