.main-inner: .container-fluid.div(ng-app)
	.row-fluid
		.div(ng-controller='CreateactivityCtrl')				
			.offset2.div(ng-hide='edit')
				div(style='font-size:300%;font-weight:400;float:left;width:190px;height:50px;') 
					{{event.abbr}}
				i.icon-pencil(ng-click='edit=!edit', style='margin-top:50px;position:relative;')
			.offset2.div(ng-show='edit')
				div(style='float:left;width:190px;height:50px;') 
					input(ng-model='event.abbr', style='width:170px;height:50px;font-size:300%;font-weight:400;')
				i.icon-ok(ng-click='edit=!edit')
			br
			br
			br
			.offset2.div(ng-hide='editf')
				div(style='float:left;width:220px;height:50px;')
					{{event.title}}
				i.icon-pencil(ng-click='editf=!editf', style='margin-left:10px;')
			.offset2.div(ng-show='editf')
				div(style='float:left;width:220px;height:50px;')
					input(ng-model='event.title')
				i.icon-ok(ng-click='editf=!editf', style='margin-left:10px;')
			.container: .widget
				.widget-content
					div(ng-hide='edit1')
						div(style='float:left;width:850px;height:150px;font-size:100%;')
							{{event.description}}
						i.icon-pencil(ng-click='edit1=!edit1', style='margin-left:10px;')
					div(ng-show='edit1')
						div(style='float:left;width:850px;height:150px;')
							textarea(rows='6', ng-model='event.description', style='width:100%;font-size:100%;height:150px;')
						i.icon-ok(ng-click='edit1=!edit1', style='margin-left:10px;')
				br
				br
				div(ng-hide='edit2')
					table.table.table-bordered.table-condensed
						tbody
							tr.linkrow.container(ng-repeat='event in events')
									td
										span(ng-hide='edit2')
											{{event.place1}}
										input(ng-show='edit2', ng-model='event.place1', type='text')
									td
										span(ng-hide='edit2')
											{{event.place2}}
										input(ng-show='edit2', ng-model='event.place2', type='text')
									td
										span(ng-hide='edit2')
											{{event.date}}
										input(ng-show='edit2', ng-model='event.date', type='text', style='width:100px;')
									td
										span(ng-hide='edit2')
											{{event.time}}
										input(ng-show='edit2', ng-model='event.time', type='text', size='5', style='width:80px;height:15px;')
									td
										span(ng-hide='edit2')
											{{event.source}}
										input(ng-show='edit2', ng-model='event.source', type='text', style='width:120px;')
									td
										a(href='', ng-click='edit2=!edit2')
											i.icon-pencil(ng-hide='edit2')
											i.icon-ok(ng-show='edit2')
			form(ng-submit='addEvent(); (edit3=!edit3)', class='container')
				div(ng-hide='edit3')
					a(href='', ng-click='edit3=!edit3')
						input(class='btn', value='createEvent')
				div(ng-show='edit3')
					td
						tr
							th
								input(ng-model='insertplace1', type='text', placeholder='city')
							th
								input(ng-model='insertplace2', type='text', placeholder='country')
							th
								input(ng-model='insertdate', type='text', placeholder='date')
							th	
								input(ng-model='inserttime', type='text', placeholder='time')
							th
								input(ng-model='insertsource', type='text', placeholder='source')
								input(type='submit', value='add', class='btn')

pre
	{{ event }}
pre
	{{ events }}
