.main-inner: .container-fluid
	.row
		#events.span10.offset1: .widget
			.widget-header
				i.icon-cogs 
				span.break
				h3 Events
			.widget-content
				table.table.table-striped.table-condensed
					thead
						tr
							td
							td
							td
					tbody
						tr.linkrow(align='center', ng-repeat='event in events')
							td
								a(href='#\{{event.path}}') {{event.name}}
							td
								a(href='#\{{event.path}}') {{event.title}}
							td
								a(href='#\{{event.path}}') {{event.description}}

		#activity.span4: .widget
			.widget-header
				h3 Your activities
			.widget-content
				a(class='btn', href='')
					h4 login to create new activities

		#create_activity.span2.offset2
			a(class='btn', href='#/events/new')
				h4 Create Activity

		#workshops.span10.offset1: .widget
			.widget-header
				i.icon-bullhorn
				span.break
				h3 Workshops
			.widget-content
				table.table.table-striped.table-condensed
					thead
						tr
							td
							td
							td
					tbody
						tr.linkrow(align='center', ng-repeat='event in workshops')
							td
								a(href='#\{{event.path}}') {{event.name}}
							td
								a(href='#\{{event.path}}') {{event.title}}
							td
								a(href='#\{{event.path}}') {{event.description}}

		#conferences.span10.offset1: .widget
			.widget-header
				i.icon-upload-alt
				span.break
				h3 Conferences
			.widget-content
				table.table.table-striped.table-condensed
					thead
						tr
							td
							td
							td
					tbody
						tr.linkrow(align='center', ng-repeat='event in conferences')
							td
								a(href='#\{{event.path}}') {{event.owner}}
							td
								a(href='#\{{event.path}}') {{event.place}}
							td
								a(href='#\{{event.path}}') {{event.description}}
