.container-fluid
	p.pull-left
		&copy; 2013 TechGrind, Pte. Ltd.

	.social.pull-right
		ul
			li Follow us
			li
				a(href="https://www.facebook.com/techgrind", target="_blank", class="facebook", alt="Facebook")
			li
				a(href="https://plus.google.com/114529345031512116214/posts", target="_blank", class="google-plus")
			li
				a(href="https://twitter.com/Tech_Grind", target="_blank", class="twitter")
