.footer-top: .container
	.row
		.span3
			h4 About
			ul
				li
					i.icon-font
					a(href="#/about") About Us
				li
					i.icon-twitter-sign
					a(target="_new", href="https://twitter.com/Tech_Grind") Twitter
				li
					i.icon-facebook-sign
					a(target="_new", href="http://www.facebook.com/techgrind/") Facebook
				li
					i.icon-google-plus-sign
					a(target="_new", href="https://plus.google.com/114529345031512116214/posts/") Google+
		.span3
			h4 Support
			ul
				li
					a(href="#/faq") FAQ
				li
					a(href="#/feedback") Feedback
				li
					a(href="#/contact") Contact Us
		.span3
			h4 Legal
			ul
				li
					a(href="javascript:;") License
				li
					a(href="javascript:;") Terms of Use
				li
					a(href="javascript:;") Privacy Policy
				li
					a(href="javascript:;") Security
		.span3
			h4 Settings
			ul
				li
					a(href="javascript:;") Login
				li
					a(href="javascript:;") Sign Up
				li
					a(href="javascript:;") Account Settings
				li
					a(href="javascript:;") Privacy Settings

.footer-bottom: .container
	.row
		.span12
			| © 2013
			a(href="http://www.techgrind.asia") TechGrind, Pte. Ltd.
