div(ng-controller="LoginCtrl")
	form(name='loginform', method='post')
		input(type='text', ng-model='userid' , placeholder='login name')
		br
		input(type='password', ng-model='password' , placeholder='password')
		br
		input(type='submit', value='Sign in', id='login-submit', ng-click='login();openlogin=false')
