.container
	.logo
	.main-menu
		ul
			li(ng-class="active('/home')")
				a(href="#/home")
					i.icon-home
					span Home
			li.dropdown(ng-class="active('/regions')")
				a.dropdown-toggle
					i.icon-globe.icon-white
					span Regions
					//- b.caret
				//- ul.dropdown-menu(ng-controller='RegionsCtrl')
				//- 	li(ng-repeat='country in countries')
				//- 		a(href="#/regions/{{country.url}}") {{country.name}}
			li(ng-class="active('/events')")
				a(href="#/events")
					i.icon-bullhorn
					span Events
					//- b.caret
			li(ng-class="active('/resources')")
				a(href="#/resources")
					i.icon-cloud-download
					span Resources
					//- b.caret
			li(ng-class="active('/media')")
				a(href="#/media")
					i.icon-film
					span Media
			li(ng-class="active('/partners')")
				a(href="#/partners")
					i.icon-star
					span Partners
	.user-setting
		ul
			li
				i.icon-cog
				| Register
			li
				i.icon-user
				| Login

			//- li.dropdown#show-settings(ng-show="loginp()")
			//- 	a.dropdown-toggle
			//- 		i.icon-cog
			//- 		| Settings
			//- 		b.caret
			//- 	ul.dropdown-menu
			//- 		li: a(href="javascript:;") Account Settings
			//- 		li.divider
			//- 		li: a(href="#/faq") Help
			//- li.dropdown(ng-show="loginp()")
			//- 	a.dropdown-toggle
			//- 		i.icon-user
			//- 		span(id="show-user-name")
			//- 			| {{ user().fullname }}
			//- 		b.caret
			//- 	ul.dropdown-menu
			//- 		li: a(href="javascript:;") My Profile
			//- 		li: a(href="javascript:;") My Groups
			//- 		li.divider
			//- 		li: a(ng-click="logout()") Logout
			//- li.dropdown#show-register(ng-hide="loginp()")
			//- 	a(href="#/register")
			//- 		i.icon-cog
			//- 		| Register
			//- 		b.caret
			//- li#show-login(ng-hide="loginp()")
			//- 	a(id="login-link", ng-click="openlogin=true")
			//- 		i.icon-user
			//- 		| Login
			//- 		b.caret
			//- 	div(modal="openlogin && !loginp()", close="openlogin=false")
			//- 		div(ng-include="'partials/loginform.html'")
