.navbar.navbar-fixed-top: .navbar-inner: .container: ul.nav.pull-right
	li.dropdown
		a.dropdown-toggle
			i.icon-cog
			| Settings
			b.caret
		ul.dropdown-menu
			li: a(href="javascript:;") Account Settings
			li.divider
			li: a(href="#/faq") Help
	li.dropdown
		a.dropdown-toggle
			i.icon-user
			| Coming Soon
			b.caret
		ul.dropdown-menu
			li: a(href="javascript:;") My Profile
			li: a(href="javascript:;") My Groups
			li.divider
			li: a(href="javascript:;") Login
