@font-face {
    font-family: 'aleo_light';
    src: url('aleo-light-webfont.eot');
    src: url('aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-light-webfont.woff') format('woff'),
         url('aleo-light-webfont.ttf') format('truetype'),
         url('aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aleo_regular';
    src: url('aleo-regular-webfont.eot');
    src: url('aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('aleo-regular-webfont.woff') format('woff'),
         url('aleo-regular-webfont.ttf') format('truetype'),
         url('aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}