!!!5
html(lang="en", ng-app="TechGrindApp")
	head
		meta(charset="utf-8")
		link(rel="shortcut icon", href="img/tgfavicon-gear.ico")
		title TechGrind &middot; Asia's Startup Community

		//- for Angular UI Bootstrap, from http://www.bootstrapcdn.com/
		//- link(rel="stylesheet", href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css")
		link(rel="stylesheet", href="css/bootstrap-combined.min.css")

		//- https://www.addthis.com/get/follow
		link(rel="stylesheet", href="css/addthis.css")
		
		//- http://jumpstartui.com/templates/admin-templates/base-admin/
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")
		link(rel="stylesheet", href="css/font-awesome.css")
		link(rel="stylesheet", href="css/base-admin.css")
		link(rel="stylesheet", href="css/base-admin-responsive.css")
		link(rel="stylesheet", href="css/dashboard.css")
		//- Le HTML5 shim, for IE6-8 support of HTML5 elements
		//if lt IE 9
			script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

		link(rel="stylesheet", href="css/app.css")

	body(ng-controller="AppCtrl")
		heading
			nav(ng-include="'partials/navbar.html'")
			nav(ng-include="'partials/menu.html'")
		section#main.main(ng-view)
		footer.footer(ng-include="'partials/footer.html'")

		//- In production use:
		//- script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
		script(src="lib/angular/angular.js")
		//- from https://raw.github.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.3.0.js
		script(src="lib/angular/ui-bootstrap-tpls-0.3.0.js")

		script(src="js/app.js")
		script(src="js/services.js")
		script(src="js/controllers.js")
		script(src="js/filters.js")
		script(src="js/directives.js")
		if settings.env == 'test'
			script(src="test/lib/angular/angular-mocks.js")
			script(src="test/e2e/backend-mocks.js")
