<center>
<a href="http://www.startupjobs.asia" target="_blank"><h4 class=muted>A StartupJobs.Asia Resource Kit</h4></a><br>
</center>
<hr>
<h3>Resources</h3>
<p><strong><span style="text-decoration: underline;">Singapore</span></strong></p>
<p><a href="http://sat.mom.gov.sg/satservlet" target="_blank">MOM &#8211; Self Assessment Tool for Application of Employment Pass and S Pass</a></p>
<p><a href="https://app.quotacal.mom.gov.sg/ecalculator/IndustrySelect.aspx" target="_blank">MOM &#8211; On-line Quota Calculator for Work Permits and S Pass</a></p>
<p><a href="http://www.cpf.gov.sg/cpf_info/Online/Contri.asp" target="_blank">CPF &#8211; Contribution Calculator</a></p>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">Malaysia</span></strong></p>
<p><a href="http://www.mohr.gov.my" target="_blank">Ministry of Human Resources</a></p>
<p><a href="http://www.kwsp.gov.my/portal/en/web/kwsp/home" target="_blank">EPF Information Portal</a></p>
<p><a href="http://www.perkeso.gov.my/en.html" target="_blank">The Official Portal of Social Security Organisation</a></p>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">HongKong</span></strong></p>
<p><a href="http://www.labour.gov.hk/eng/news/content.htm" target="_blank">Labour Department</a></p>
<p><a href="http://www.mpfa.org.hk/eng/main/index.jsp" target="_blank">Mandatory Provident Fund Schemes Authority</a></p>
<p><a href="http://www.gov.hk/en/residents/employment/mpf/" target="_blank">Mandatory Provident Fund (MPF) System</a></p>
<p><a href="http://www.immd.gov.hk/en/home.html" target="_blank">Immigration Department</a></p>
<p>&nbsp;</p>
<p><strong><span style="text-decoration: underline;">Taiwan</span></strong></p>
<p><a href="http://www.cla.gov.tw/" target="_blank">Council of Labor Affairs</a></p>
<p><a href="http://www.bli.gov.tw/" target="_blank">Bureau of Labor Insurance</a></p>
<p><a href="http://iff.immigration.gov.tw" target="_blank">Information for Foreigners in Taiwan</a></p>
<p>&nbsp;</p>
<p><b><span style="text-decoration: underline;">Thailand</span></b></p>
<p><a href="http://www.mol.go.th/en/anonymouse/home" target="_blank">Ministry Of Labour</a></p>
<p><a href="http://www.labour.go.th/en/" target="_blank">Department of Labour Protection and Welfare</a></p>
<p>&nbsp;</p>
<p><b><span style="text-decoration: underline;">Vietnam</span></b></p>
<p><a href="http://english.molisa.gov.vn/" target="_blank">Ministry of Labor</a></p>
<p><a href="http://www.baohiemxahoi.gov.vn/" target="_blank">Workmen Compensation / Bao Hiem Xa Hoi</a></p>
<p><a href="http://baohiembaoviet.com/bao-hiem-y-te.html" target="_blank">Health insurance / Bao Hiem Y Te</a></p>
<p><a href="http://www.baoviet.com.vn/insurance/newsdetail.asp?websiteId=2&#038;newsId=383&#038;catId=211&#038;lang=VN" target="_blank">Accident insurance / Nao Hiem Tai Nan</a></p>
<p>&nbsp;</p>
<p><b><span style="text-decoration: underline;">Philippines</span></b></p>
<p><a href="http://www.dole.gov.ph" target="_blank">Department of Labor and Employment</a></p>
<p><a href="http://www.sss.gov.ph" target="_blank">Social Security System</a></p>
